# **IKEA Report**

## **Company Background**

In [1]:
asdasddfghjklkuh hello pun

: syntax error at or near "asdasddfghjklkuh"

In [1]:
SELECT * FROM orderhdr LIMIT 5;

orderid,customerid,noguest,tableno,intime,outtime,dinetypeid,paymentid,total,discount,netpay,vat,isposted,username
1,PH1,4,5,2002-01-01T10:51:00,2002-01-01T12:00:00,EI,CASH,1300.00,187.50,1112.50,72.78,False,dbo
2,ZF1,1,3,2002-01-01T11:35:00,2002-01-01T12:42:00,EI,CASH,675.00,0.00,675.00,44.16,False,dbo
3,ZF1,2,1,2002-01-01T12:14:00,2002-01-01T14:33:00,EI,CHK,520.00,0.00,520.00,34.02,False,dbo
4,ZF1,3,5,2002-01-01T18:59:00,2002-01-01T19:58:00,EI,MC,490.00,19.50,470.50,30.78,False,dbo
5,ZF1,1,5,2002-01-02T11:58:00,2002-01-02T13:32:00,EI,CASH,480.00,0.00,480.00,31.40,False,dbo

In [3]:
select * from orderhdr limit 2;

orderid,customerid,noguest,tableno,intime,outtime,dinetypeid,paymentid,total,discount,netpay,vat,isposted,username
1,PH1,4,5,2002-01-01T10:51:00,2002-01-01T12:00:00,EI,CASH,1300.00,187.50,1112.50,72.78,False,dbo
2,ZF1,1,3,2002-01-01T11:35:00,2002-01-01T12:42:00,EI,CASH,675.00,0.00,675.00,44.16,False,dbo

In [4]:
select * from menu limit 5;

menuid,descr,descrth,sizeid,categoryid,isrecommended,isdiscontinued,price,cost,margin,username,firstintrodt,discontinueddt
201L6,Tom Yum Kung (Large),ต้มยำกุ้ง (ใหญ่),L,DI,False,False,200,80,120.0,dbo,2002-01-01T00:00:00,NULL
201M7,Tom Yum Kung (Medium),ต้มยำกุ้ง (กลาง),M,DI,True,False,100,40,60.0,dbo,2002-01-01T00:00:00,NULL
201S3,Tom Yum Kung (Small),ต้มยำกุ้ง (เล็ก),S,DI,False,False,20,8,12.0,dbo,2002-01-01T00:00:00,NULL
202M9,Green Curry with Chicken,แกงเขียวหวานไก่,M,DI,True,False,60,24,36.0,dbo,2002-01-01T00:00:00,NULL
203M1,Pla Rad Prik,ปลาราดพริก,L,DI,False,False,400,160,240.0,dbo,2002-01-01T00:00:00,NULL