# **Yeeee**

In [1]:
asdasddfghjklkuh hello pun

: syntax error at or near "asdasddfghjklkuh"

In [1]:
SELECT * FROM orderhdr LIMIT 5;

orderid,customerid,noguest,tableno,intime,outtime,dinetypeid,paymentid,total,discount,netpay,vat,isposted,username
1,PH1,4,5,2002-01-01T10:51:00,2002-01-01T12:00:00,EI,CASH,1300.00,187.50,1112.50,72.78,False,dbo
2,ZF1,1,3,2002-01-01T11:35:00,2002-01-01T12:42:00,EI,CASH,675.00,0.00,675.00,44.16,False,dbo
3,ZF1,2,1,2002-01-01T12:14:00,2002-01-01T14:33:00,EI,CHK,520.00,0.00,520.00,34.02,False,dbo
4,ZF1,3,5,2002-01-01T18:59:00,2002-01-01T19:58:00,EI,MC,490.00,19.50,470.50,30.78,False,dbo
5,ZF1,1,5,2002-01-02T11:58:00,2002-01-02T13:32:00,EI,CASH,480.00,0.00,480.00,31.40,False,dbo

In [3]:
select * from orderhdr limit 2;

orderid,customerid,noguest,tableno,intime,outtime,dinetypeid,paymentid,total,discount,netpay,vat,isposted,username
1,PH1,4,5,2002-01-01T10:51:00,2002-01-01T12:00:00,EI,CASH,1300.00,187.50,1112.50,72.78,False,dbo
2,ZF1,1,3,2002-01-01T11:35:00,2002-01-01T12:42:00,EI,CASH,675.00,0.00,675.00,44.16,False,dbo

fghjkl;'